{% include 'header.html' %}

<div class="content">
    <h1>是否有想要加入的軟體公司？為什麼？</h1>
    <div class="row content-div">
        <div class="col-12 col-md-3">
            <img class="google-image" src="../image/google.jpeg" alt="google-image">
        </div>

        <div class="col-12 col-md-3">
            <h3>自由氛圍</h3>
            <p class="content-statement">
                最想進的公司是google，主要是嚮往google相對自由的公司氛圍，對工作者有較高的信任度，能彈性發揮、嘗試自己的能發；在未來如果有機會認識其他，也有類似企業文化的公司，也會考慮納入考量。
            </p>
        </div>

        <div class="col-12 col-md-3">
            <h3>多元場域</h3>
            <p class="content-statement">
                對於末來5-10年的職涯目標是以遠距工作、數位游牧為主；google企業遍及多數國家，再加上產業特性，比較有機會工作不限定場域；也比較有機會跟不同國家的人工作，學習不同的價值觀跟工作模式。
            </p>
        </div>

        <div class="col-12 col-md-3">
            <h3>薪資成長</h3>
            <p class="content-statement">
                因為是外商的關係，除了在台分部工作外，也想爭取到美國分部工作的機會，爭取global pay，努力提高本薪收入。
            </p>
        </div>
    </div>
</div>


{% include 'footer.html' %}
