{% include 'header.html' %}

<div class="content">
    <h1>請描述一件讓你產生明顯負面情緒的事情，</h1>
    <h1>你如何處理該情緒？</h1>

    <div class="row content-div">
        <div class="col-12 col-md-6">
            <h3>靜心，吸收整理</h3>
            <p class="content-statement">
                負責保養品開發或執行專案管理時，難免會把自己的價值跟交出的作品綁在一起，容易會對別人給予的批評產生抵抗心態，為自己辯護；通常只要反駁到第2次，我就會讓自己先安靜下來，當下先把主管給得意見記下來，討論完畢後，先做別的事，或是下班運動，等情緒比較冷靜後，再重新再想一下主管的意見，調整內容，再找主管溝通一次，確定執行方向。
            </p>
        </div>

        <div class="col-12 col-md-6">
            <h3>敏捷管理</h3>
            <p class="content-statement">
                此外，也會反省當下的情緒是因為什麼原因所導致，先前大部份都是因為一次做過頭，方向已經不是主管想要的方向，但又已經投入大量時間，就容易產生”又要改”、”好心被雷親”的心情；目前調整做事的方式是採用類似敏捷式專案的概念，有個30%、40%的雛型就先跟主管確認方向是不是正確，後續再持續投時間開發，避免投入心力跟回饋的成就感有太大的落差。
            </p>
        </div>
    </div>
</div>

{% include 'footer.html' %}