{% include "header.html" %}

    <div class="content">
        <h1>為了成為軟體工程師，曾做過什麼努力</h1>
        <p class="content-statement heading-1">
            為了往軟體工程師前進，目前主要都是用下班、週末時間透過書籍、網路資源，學習Python基礎語法；後續慢慢開始接Python相關的套件，如Turtle、Tkinter、Pandas、Selenium、Beautiful Soup等等。
        </p>
        <p class="content-statement heading-2">
            過程中也有到聯成電腦了解課程 跟 軟體業大致上的工作類別，原先對於AIoT、物聯網、AI、數據分析相關的類別滿有興趣的，但上網爬文、看相關產業的影片分享，發覺實際的工作內容不是那麼感興趣；反而網頁、App這類人手都在用，跟消費者比較靠近的數位產品，比較符合我想做的方向。
        </p>
        <div class="container project">
            <div class="row">
                <div class="col-12 col-md-6">
                        <div class="content-div">
                            <h3>相關作品</h3>
                            <ol>
                                <li><a href="https://github.com/KJeiii/snake_game.git">貪食蛇遊戲</a>：使用Turtle Library製作。</li>
                                <li><a href="https://github.com/KJeiii/pomodoro.git">蕃茄鐘</a>：使用Tkinter Library製作。</li>
                                <li><a href="https://github.com/KJeiii/socialmedia.git">Tinder社交軟體自動按like，加入名單</a>：使用Selenium製作。</li>
                                <li><a href="https://mark-blog.herokuapp.com/">會員制Blog</a>：須要註冊會員，才能發文(僅第1位註冊者才能發文)、貼文，能顯示特定文章留言串流；作品主要呈現會員註冊、登入、資料庫建置等偏後端的技術；排版、美術相關是直接使用自學課程提供的素材搭建而成；使用的技術包括HTML、CSS、GitHub、Heroku、Flask以及flask整合的libraries，包括boostrap、WTForm、Login、CKEditor、SQLAlchemy。</li>
                            </ol>
                        </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="content-div">
                        <h3>使用的學習資源包括</h3>
                        <ol>
                            <li>書籍：碁峯的精通Python。</li>
                            <li>線上課程：Udemy，以Dr. Angela Yu製作的課程為主，包括100 Days of Code: The Complete Python Pro Bootcamp for 2023、The Complete 2023 Web Development Bootcamp。</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% include "footer.html" %}
