{% include 'header.html' %}

<div class="content">
    <h1>關於這份申請網頁，</h1>
    <h1>請分享一個你開發時的技術心得。</h1>
    <div class="row content-div">
        <div class="col-12 col-md-4">
            <h3>獨立作業</h3>
            <p class="content-statement">
                先前有先上過簡單的網站建立的課程，但實際重頭開始製作時，發現某些只用過1、2次的功能，要再上手，還是要再看一下技術文件，才比較知道有怎麼調整細節，再度體會到Udemy課程老師說的工程師重點不在於死記而是理解跟應用，也體會到閱讀官方文件、做筆記、找方法對於獨立運作的重要性；雖然以前在碩班有鍛練過獨立解決問題的能力，但重新面對一個新的領域，又再讓我回憶能這個核心能力的重要性。
            </p>
        </div>

        <div class="col-12 col-md-4">
            <h3>觀摹作品</h3>
            <p class="content-statement">
                這次自己從頭做起，明顯感受到前端工程師除了要熟悉HTML、CSS、JavaScript之外，也要多觀摹別人的作品，透過欣賞跟模仿，培養自己對於排版、視覺、美感等的品味，以及畫面設計上的技巧；這樣對於UI/UX設計師而言，比較能因應不同業主的風格需求，進行設計；或是對於前端工師，也比較能夠理解UI/UX為何要這樣設計。
            </p>
        </div>

        <div class="col-12 col-md-4">
            <h3>後端為主</h3>
            <p class="content-statement">
                整個產出的過程再加上以往自學的經驗，對於前端不排斥，但相較之下，還是比較喜歡後端多一些；因為在設計前端的時候，我自己滿常需要等靈感出現的，通常都比較花時間，自己對於美感有時候也會很龜毛，像是行距、padding、margin等等，很常調來調去；後端的部份，如果大致上理解了，基本的功能可以按步就班的製作出來，比較不會有設計上靈感疲乏，進度停擺的狀況；所以對於短、中期的能力培養會以後端為主，如果有多的餘力再學習前端的技能。
            </p>
        </div>
    </div>
</div>

{% include 'footer.html' %}