{% include "header.html" %}

<div class="content">
    <h1>如果參與這個計畫，會怎麼安排學習時間</h1>

    <div class="row content-div">
        <div class="col-12 col-md-5 info">
            <p class="schedule-info-title">2HR / 20HR</p>
            <p class="schedule-info-time">2022.08 - 2023.07</p>
            <p class="schedule-info-content">Python、HTML、CSS</p>
        </div>

        <div class="col-12 col-md-7">
            <h3>開課前</h3>
            <p class="content-statement">到目前為止，每天都會固定1-2小時上課、實做，週末會花12-20小時進行自修；從現在到7月正式開課的短期規劃是，保持這樣的時間分配持續自修，目標在正式開課前，熟悉1、2階段的課程。<br>因為先前有看過第2、3屆的招生說明會，了解到課程任務可能會比較重，再加上個人經濟因素，開課後會保持在職狀態下，參加研習，所以想在開課前衝次一下進度，目前評估須要再加強JavaScript、AJAX、版本控制、雲端服務、MVC設計模式等等的技術概念。</p>
        </div>
    </div>

    <div class="row content-div">
        <div class="col-12 col-md-5 info">
            <p class="schedule-info-title">2HR+ / 20HR+</p>
            <p class="schedule-info-time">2023.07 - 2023.12</p>
            <p class="schedule-info-content">Backend / Full-Stack developer</p>
        </div>

        <div class="col-12 col-md-7">
            <h3>開課後</h3>
            <p class="content-statement">時間規劃目前設定維持每日1-2小時、週末20小時左右的時間分配進行研習，視任務的難易程度而定，如果時間不夠用，會向公司請假補進度、或是假日增加時間完成任務內容；這部份也會透過第1階段的研習內容，了解一下任務強度，一部份確認時間上是否能消化課程內容，評估在職的情況下要怎麼調整時間；另一部份也是透過任務補足自修不足的部份。<br>每週一的線上會議，主要會以觀看記錄影片的方式參與，如遇到關鍵性技術，預計上半天請假跟著會議聽講；實體課程的部份會先報名，但因為在職的關係，比較沒有辦法每次都到場，會針對任務卡關 或是 多人合作開發的部份，向公司請假參與實體活動，當面溝通、請教；第2、3階段的課程，會以後端工程師為目標發展相關專業知識、技能。</p>
        </div>
    </div>

    <div class="row content-div">
        <div class="col-12 col-md-5 info">
            <p class="schedule-info-title">Project<br>Management<br>System</p>
            <p class="schedule-info-content">產品需求<br>時程估計<br>視覺化追蹤<br>進度提醒</p>
        </div>

        <div class="col-12 col-md-7">
            <h3>作品集規劃</h3>
            <p class="content-statement">工作中也會負責管理產品開發的時程，在後續的作品集的開發，想開發一個可以輔助產品時程控管的網頁；目前主要是用google sheet管理產品專案，目前想把它轉移到網頁的型式管理，同步也優化人工處理的部份，讓大部份流程可以更有效率，也讓不同的使用者可以更方便操作。<br>預想的功能：透過業務鍵入產品需求，如客戶、交期、數量等等；PM拆解產品製作各段所需時間，安排各階段任務；結合前面2個資訊，視覺化程程表，提供各部門預化的工作量；固定時間自動整理未來2週的待辦事項，透過mail發包任務給部門。</p>    
        </div>

    </div>
</div>

{% include "footer.html" %}
