{% include "header.html" %}

<div class="content">
    <h1>個人簡介</h1>
    <div class="container home">
        <div class="row">
            <div class="col-12 col-md-6">
                <img class='Mark_img' src="https://s.gravatar.com/avatar/f2b26fb2f74de401f6f92b877b01b1a0?s=350
                " alt="Mark_img">
            </div>
            <div class="col-12 col-md-6">
                <div class="content-statement">
                    <h5>保養品配方師 & 產品專案管理：</h5>
                    <p>我是張凱捷，目前在職於保養品產業，負責護膚產品的配方研發以及產品專案管理。</p>
                </div>
                <div class="content-statement">
                    <h5>程式之前：</h5>
                    <p>與程式設計最起初的認識，是在工作中利用巨集把繁鎖的Excel人工作業，自動化，提升工作效率；雖然只是用簡單的錄製功能，串連公式，但在整個思考步驟邏輯的過程，覺得非常有趣，也非常有成就感。</p>
                </div>
                <div class="content-statement">
                    <h5>程式之後：</h5>
                    <p>除了對於程式編碼有興趣之外，對於未來職涯與生活的規劃想以遠距工作、數位游牧為目標邁進，再加上我喜歡看到人手都在使用我設計出來的作品，因此近3-5年的中程規劃會以網站設計、APP設計這樣的數位產品為主，當作我在軟體業界的起步基石。</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "footer.html" %}
