{% include 'header.html' %}

<div class="content">
    <h1>其他想要對我們說的事情？</h1>
    <p class="content-statement talktalk">
        希望有機會可以跟Bootcamp的大家一起學習，認識一下大家想怎麼設計自己未來職業、生活的方式，特別想了解關於自主接案、數位游牧的心路歷程；還有大家在生活、工作上想怎麼應用程式設計的技能，因為自己對於利用程式設計，自動化繁冗的流程、提升工作生產力等等解放大腦、人力的點子很感興趣。
    </p>
    <p class="content-statement talktalk">
        也非常謝謝彭彭開立Wehelp Bootcamp 以及 製作Youtube影片，讓想自學的人有資源可以學習；約2年多前其實就有想學程式設計的念頭，一開始是自己看書學，因為沒有太多的應用，也不知道理解的對不對，學得時候感覺不是很踏實、成就感不高；後來有搜尋到彭彭的影片，內容淺顯易懂，慢慢地就一邊複習，一邊開始培養每天寫code的習慣。
    </p>
</div>

{% include 'footer.html' %}